@font-face {
  font-family: 'arial_bold';
  src: url('../fonts/arial_bold.eot');
  src: url('../fonts/arial_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/arial_bold.woff') format('woff'),
  url('../fonts/arial_bold.ttf') format('truetype'),
  url('../fonts/arial_bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
