*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@import "mixing";
@import "fonts";



body{
  background: url(../img/baner_index.png) center repeat;
  margin: 0 auto;
  
}
.wrapper{
  width: 1140px;
  text-align: center;
  margin: 0 auto;

}
.header{
  .clearfix();
  border: 2px solid @colorblack;
  box-shadow: 10px solid @colorgrey;
  .menu{
    .clearfix();
    background: #211103;
    .wrapper{
      ul{
        float: left;
        list-style-type: none;
        padding: 13px 0px;
        li{
          .font-basic();
          padding: 10px 20px;
          border: 1px solid transparent;
          border-image: @image-border-menu 0 1 0 0 round round;
          float: left;
          &:first-child{
            padding-left: 0px;
          };
          &:last-child{
            border-right: none;
          };
          a{
            .font-basic();
            text-decoration: none;
            &:hover{
              color: #f5d602;
            };
          }
        }
      }
      .enter{
        float: right;
        padding: 20px 0px;
        a{
          text-decoration: none;
          .font-basic();
        }
      }
    }
  }
  .bootom{
    background: @colorwhite;
    .wrapper{
      .clearfix();
      .logo{
        margin-top: 15px;
        float: left;
        p{
          .font-basic(@_font: 'arial', @_size: 10px, @_color: @colorblack);
        }
      }
      .phone{
        margin-left: 20px;
        float: left;
        .phone_img{
          float: left;
          margin: 12px;
        }
        ul{
          .font-basic(@_font: 'arial', @_size: 12px, @_color: @colorblack, @_align: left);
          list-style-type: none;
          float: left;
          li{
            padding: 3px 0px;
          }
        }

      }
      .city{
        float: left;
        margin: 7px 20px auto 20px;
        border: 1px solid transparent;
        border-image: @image-border-bottom 0 1 0 1 round round;
        ul{
          list-style-type: none;
          text-align: left;
          li{
            a{
            .font-basic(@_size: 18px, @_color: @colorblack);
            text-decoration: none;
            padding: 10px 20px;
            }
            select{
              .font-basic(@_color: @colorblack);
              border: none;
              margin: auto 10px;
              width: 205px;
            }
          }
        }
      }
      .search{
        margin-top: 15px;
        float: left;
        .poshuk{
          width: 280px;
          padding: 7px 10px;
        }
        select{
          .font-basic(@_size: 16px);
          padding: 5px 10px;
          margin: 4px -10px;
         color: #fff;
         .border-basic(@_size: 5px, @_border: none, @_bg: #000);
          cursor: pointer;
        }
      }
      .koshik{
          float: right;
          margin-top: 20px;
      }
    }
  }
}
.main{
  .clearfix();
  width: 1170px;
  margin: 0 auto;
  background: #fff;
  .wrapper{
    width: 1140px;
    .clearfix();
     .block_1{
      .clearfix();
      height: 600px;
      background: url(../img/baner_fom.png) center no-repeat;
      margin-top: 15px;
      .note{
        width: 760px;
        float: left;
        img{
          float: right;
          margin-top: 120px;
        }

      }
      .logo_producers{
        text-align: left;
        float: left;
        width: 350px;
        margin-top: 115px;
        img{
          margin-bottom: 40px;
        }
        a{
          .font-basic(@_size: 16px);
          .border-basic(@_size: 5px, @_border: none, @_bg: #48a407);
          float: right;
          padding: 10px 20px;
          text-decoration: none;
          margin-top: 115px;
        }
      }
    }
  }
  .main_menu{
    .clearfix();
    width: 890px;
    margin: 0 auto;
    li{
      float: left;
      padding: 10px 22px;
      list-style-type: none;
      a{
        .font-basic(@_size: 16px, @_color: #000);
        text-decoration: none;
        &:hover{
          color: #f5d602;
        };
      }
    }
  }
  .block_2{
    .clearfix();
    margin-top: 20px;
    .menu{
      float: left;
      text-align: left;
      ul{
        .clearfix();
        border: 1px solid;
        border-radius: 15px 0px;
        li{
          border-bottom: 1px solid @colorblack;
          padding: 7px 0px;
          &:hover{
            background: #fcf3b3;
          };
          &:first-child{
            background: @colorblack;
            padding: 18px;
            a{
              color: @colorwhite;
            }
          };
          &:last-child{
            border-bottom: none;
          };
          a{
            .font-basic(@_font: 'arial', @_size: 16px, @_color: @colorblack);
            text-decoration: none;
            padding: 15px;
          }
          img{
            float: right;
            padding-right: 15px;
          }
        }
      }
    }
    .elements{
      width: 465px;
      float: left;
      margin: 0px 30px;

      .element{
        text-decoration: none;
        width: 150px;
        height: 100px;
        float: left;
        margin: 2px;
         &:hover {
        background: #fdf7cc;
        };
        .border-basic(@_size: 10px, @_border: 1px solid @colorblack);
          img{
            margin-top: 10px;
            height: 45px;
          }
          p{
            .font-basic(@_font: 'arial', @_color: @colorblack, @_size: 16px);
          }
          #all{
            font-size: 12px;
            margin-top: 40px;
            &:after{
              content: @image-arrow;
              float: right;
              margin: -3px 5px;
             };
          }
      }
    }
    .advertising{
      .clearfix();
      background: #f5d602;
      p{
        .font-basic(@_size: 16px);
        margin: 15px;
      }
      #price{
        .font-basic(@_size: 30px)
      }

      button{
        .font-basic(@_font: 'arial', @_size: 16px);
         text-decoration: none;
         padding: 2px 30px;
         .border-basic(@_size: 5px, @_bg: #4bb201);
         margin: 10px;
         cursor: pointer;
         img{
          float: right;
          padding-left: 10px;
         }
      }
    }
    .last{
      .clearfix();
      text-align: left;
    p{
        margin: 15px auto;
        .font-basic(@_size: 15px, @_color: @colorblack);
        font-weight: bold;
      }
      ul{
        margin-left: 15px;
        li{
          list-style-type: decimal;
          &:last-child{
            list-style-type: none;
            a{
              color: #000;
              &:after{
                content: @image-arrow;
                float: right;
                margin: 2px 150px auto auto;
              };
            }
          };
        }
      }
    }
  }
  .block_fuel{
    h2{
      margin-top: 20px;
      padding: 0 15px;
      text-align: left;
      .font-basic(@_size: 30px, @_color: @colorblack, @_upper: uppercase);
    }
    margin: 20px auto;
    .clearfix();
    background: #dedede;
    ul{
        .clearfix();
        margin: 14px;
        background: #fff;
        width: 1115px;
      li{
        width: 265px;
        padding: 0px 28px;
        float: left;
        list-style-type: none;
        border: 1px solid transparent;
               border-image: @image-border-li 0 1 0 0 round round;

        h4{
          .font-basic(@_font: 'arial', @_size: 20px, @_color: @colorblack);
          margin: 25px;
          &:after{
            content: @image-arrow;
            float: right;

          };
        }
        p{
          .font-basic(@_font: 'arial', @_size: 20px, @_color: @colorblack);
          margin: 35px;
          a{
            text-decoration: none;
            .font-basic(@_font: 'arial', @_size: 20px, @_color: @colorblack);
          }
        }
        input{
          text-align: center;
          width: 110px;
          .font-basic(@_color: @colorblack);
          padding: 5px 0px;
          .border-basic(@_size: 5px, @_bg: #f5d602);
        }
        button{
          float: right;
          padding: 0 10px;
          .border-basic(@_size: 5px, @_bg: #343434);
          cursor: pointer;
          img{
            margin: auto;
          }
          &:hover{
            background: #43a001;
          };

        }
        img{
          margin: 15px auto;
        }
      }
    }
  }
}
.footer{
  .clearfix();
  background: #211103;
  .wrapper{
    .top_menu{
    .clearfix();
    margin-top: 40px;
    ul{
      float: left;
      margin: 0px 170px 10px 0px;
      li{
        .font-basic(@_font: 'arial', @_size: 18px);
        text-align: left;
        list-style-type: none;
        padding: 10px 0px;
        &:first-child{
          margin-bottom: 25px;
          padding: 0px;
          .font-basic(@_size: 20px);
          };
        a{
          .font-basic(@_font: 'arial', @_size: 18px);
          text-decoration: none;
         }
      }
    }
    .contact{
      text-align: left;
      float: right;
      h4{
        .font-basic(@_font: 'arial', @_size: 20px);
        margin-bottom: 25px;
      }
      p{
        .font-basic(@_font: 'arial', @_size: 16px, @_line: 1.5);
      }
      .menu_phone{
        .font-basic(@_font: 'arial', @_size: 16px);
        margin: 0 auto;
        li{
            float: left;
            list-style-type: none;
            padding: 10px 10px;
            border-right: 1px solid white;
        &:first-child{
          padding-left: 0px;
          color: #45b2ff;
        };
        &:last-child {
          border-right: none;

          };
        }
      }
      hr{
        margin: 20px 0px;
      }
     }
    }
  .down_menu{
      float: left;
      margin: 20px auto;
      p{
        float: left;
        margin-top: 35px;
        .font-basic(@_font: 'arial', @_size: 16px);
        a{
          text-decoration: none;
          color: @colorwhite;
          text-transform: uppercase;
        }
      }
      .oplata{
        float: left;
        margin-left: 100px;
        img{
          padding: 10px;
        }

      }
      .social{
        float: left;
        margin: 10px 0px 0px 100px;
        img{
          padding: 3px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  body{
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  body{
    width: 100%;
    margin: 0 auto;
  }
  .wrapper{
   width: 80%;
  }
  .header{
    .menu{
      .wrapper{
        ul{
          li{
            padding: 10px 15px;
            a{
            .font-basic(@_size:15px);
            }
          }
        }
        .enter{
          padding: 22px 0px;
          a{
            .font-basic(@_size:15px);
          }
        }
      }
    }
    .bootom{
        .wrapper{
          .logo{
            margin-top: 10px;
          }
          .phone{
            margin-left: 8px;
            .phone_img{
              margin: 4px;

            }
          }
          .city{
            margin: 2px 0px auto 7px;
            ul{
              width: 80%;
              li{
                a{
                  padding:0px 10px;
                  .font-basic(@_font:'arial', @_size:15px, @_color: @colorblack);
                }
                select{
                  margin: auto 5px;
                  width: 100%;
                  .font-basic(@_size:15px, @_color: @colorblack);
                }
              }
            }
          }
          .search{
            width: 180px;
            margin: 1px 10px;
            .poshuk{
              padding: 0px;
              float: left;
              width: 160px;
            }
            select{
              padding: 3px 0px;
              margin: 3px 0px;
              float: left;
              width: 160px;
              .font-basic(@_size:12px);
            }
          }
        }
    }
  }
  .main{
    width: 80%;
    .wrapper{
      width: 98%;
      .block_1{
        height: 480px;
        width: 100%;
        .note{
          width: 60%;
          img{
            width: 80%;
          }
        }
        .logo_producers{
          margin: 70px auto 50px 10px;
          width: 38%;
          img{
            width: 35%;
          }
          a{
            margin-top: 70px;
          }
        }
      }
      .main_menu{
        li{
        padding: 10px 15px;
        }
      }
    }
    .block_2{
      .menu{
        ul{
          li{
            &:first-child{
              padding: 5px;
            };
            a{
              font-size: 12px;
              padding: 5px;
            }
          }
        }
      }
      .elements{
        margin: 0px 10px;
        width: 40%;
        .element{
          width: 32%;
          p{
            font-size: 10px;
          }
          #all{
            font-size: 10px;
            &:after{
              margin: 10px 30px;
            };
          }
        }
      }
      .last{
        ul{
          li{
            font-size: 12px;
            &:last-child{;
            a{
              &:after{
                margin: 0px 90px auto auto;
              };
            }
            }
          }
        }
      }
    }
    .block_fuel{
      h2{
        font-size: 20px;
      }
      ul{
        width: 96%;
        li{
          width: 185px;
          padding: 0px 5px;
          h4{
            font-size: 16px;
          }
          .note_img{
            width: 70%;
          }
          img{
            margin: 0px;
            width: 21%;
          }

            p{
              margin: 10px;
              a{
              font-size: 14px;
              margin: 0px;
              }
            }
            form{
              width: 150px;
              input{
                width: 70px;
                font-size: 12px;
              }
              img{
                margin-left: 10px;
                width: 50%;
              }
              button{
              img{
                width: 50%;
                 }
              }

              button{
                padding: 0px;
              }
            }
          }
      }
    }
  }

.footer{
  .wrapper{
    .top_menu{
      margin-top: 20px;
      ul{
        margin: 0px 80px 10px 0px;
        li{
          padding: 5px;
          &:first-child{
            font-size: 14px;
          };
          a{
            font-size: 12px;
          }
        }
      }
      .contact{
        h4{
          font-size: 18px;
        }
        p{
          font-size: 14px;
          line-height: 1.3;
        }
        .menu_phone{
          li{
            font-size: 14px;
            padding: 3px 10px;
          }
        }
      }
    }
    .down_menu{
      margin: 10px auto;
      p{
        font-size: 14px;
      }
      .oplata{
        margin-left: 35px;
        a{
          img{
            margin-top: 10px;
            padding: 0px;
          }
        }
      }
      .social{
        margin-left: 35px;
        a{
          img{
            padding: 0px;
          }
        }
      }
    }
  }
  }
}

@media only screen and (max-width: 980px) {
  .main{
    width: 80%;
    .wrapper{
      width: 98%;
   
      .block_fuel{
        ul{
        width: 98%;
        margin: 8px;

        }
      }
    }
  }
  .footer{
    .wrapper{
      .down_menu{
        .social{
          margin-left: 25px; 
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  body{
    width: 100%;
    margin: 0 auto;
  }
  .wrapper{
   width: 70%;
  }
  .header{
    .menu{
      .wrapper{
        ul{
          li{
            padding: 5px 8px;
            a{
            .font-basic(@_size:11px);
            }
          }
        }
        .enter{
          padding: 15px 0px;
          a{
            .font-basic(@_size:11px);
          }
        }
      }
    }
    .bootom{
        .wrapper{
          .logo{
            margin-top: 25px;
          }
          .phone{
            margin-top: 20px;
            margin-left: 8px;
            .phone_img{
              margin: 4px;

            }
          }
          .city{
            border: none;
            margin: 2px 0px auto 7px;
            ul{
              width: 80%;
              li{
                a{
                  padding:0px 10px;
                  .font-basic(@_font:'arial', @_size:15px, @_color: @colorblack);
                }
                select{
                  margin: auto 5px;
                  width: 100%;
                  .font-basic(@_size:15px, @_color: @colorblack);
                }
              }
            }
          }
          .search{
            width: 180px;
            margin: 1px 10px;
            .poshuk{
              padding: 0px;
              float: left;
              width: 160px;
            }
            select{
              padding: 3px 0px;
              margin: 3px 0px;
              float: left;
              width: 160px;
              .font-basic(@_size:12px);
            }
          }
          .koshik{
            margin-top: -15px;
          }
        }
    }
  }

  .main{
    width: 70%;
    .wrapper{
      width: 98%;
      .block_1{
        height: 390px;
        width: 100%;
        .note{
          width: 60%;
          img{
            width: 80%;
          }
        }
        .logo_producers{
          margin: 70px auto 50px 10px;
          width: 38%;
          img{
            width: 35%;
          }
          a{
            margin: 50px 20px 20px auto;
            font-size: 11px;
            padding: 5px 10px;
          }
        }
      }
      .main_menu{
        width: 100%;
        li{
        padding: 8px 9px;
        a{
          font-size: 11px;
        }
        }
      }
    }
    .block_2{
      .menu{
        float: left;
        width: 45%;
        height: 415px;
        ul{
          li{
            &:first-child{
              padding: 5px;
            };
            a{
              font-size: 12px;
              padding: 5px;
            }
          }
        }
      }
      .elements{
        margin: 0px 10px;
        width: 50%;
        float: left;
        .element{
          width: 30%;
          p{
            font-size: 10px;
          }
          #all{
            font-size: 10px;
            &:after{
              margin: 10px 30px;
            };
          }
        }
      }
      .last{
        margin-left: 15px;
        float: left;
        ul{
          li{
            font-size: 12px;
            &:last-child{;
            a{
              &:after{
                margin: 0px 90px auto auto;
              };
            }
            }
          }
        }
      }
      .advertising{
        float: left;
        margin-top: 17px;
        width: 45%;
      }
    }
    .block_fuel{
      h2{
        font-size: 20px;
      }
      ul{
        width: 94%;
        li{
          margin: 0px 0px 20px 20px;
          height: 250px;
          width: 44%;
          padding: 0px 5px;
          border: 1px solid transparent;
               border-image: @image-border-li 0 1 0 1 round round;
          h4{
            font-size: 16px;
          }
          .note_img{
            width: 70%;
          }
          img{
            margin: 0px;
            width: 21%;
          }

            p{
              margin: 10px;
              a{
              font-size: 14px;
              margin: 0px;
              }
            }
            form{
              width: 150px;
              input{
                width: 70px;
                font-size: 12px;
              }
              img{
                margin-left: 40px;
                width: 50%;
              }
              button{
                padding: 1px;
              img{
                margin-left: 0px;
                width: 50%;
                 }
              }

             }
          }
      }
    }
  }

.footer{
  .wrapper{
    .top_menu{
      margin-top: 10px;
      ul{
        margin: 0px 28px 10px 0px;
        li{
          padding: 1px;
          &:first-child{
            font-size: 12px;
            margin-bottom: 10px;
          };
          a{
            font-size: 10px;
          }
        }
      }
      .contact{
        h4{
          font-size: 14px;
        }
        p{
          font-size: 11px;
          line-height: 1;
        }
        .menu_phone{
          li{
            font-size: 12px;
            padding: 3px 10px;
          }
        }
      }
    }
    .down_menu{
      margin: 10px auto;
      p{
        font-size: 14px;
      }
      .oplata{
        margin-left: 105px;
        a{
          img{
            margin-top: 10px;
            padding: 0px;
          }
        }
      }
      .social{
        margin-left: 115px;
        a{
          img{
            padding: 0px;
          }
        }
      }
    }
  }
  }
}

@media only screen and (max-width : 640px) {
  body{
  width: 100%;
    margin: 0 auto;
  }
  .wrapper{
   width: 80%;
  }
  .header{
    .menu{
      .wrapper{
        ul{
          margin-left: 0px;
          li{
            padding: 10px 17px;
            a{
              font-size: 14px;
            }
          }
        }
        .enter{
          float: left;
          margin-left: 0px;
          a{
            font-size: 14px;
          }
        }
      }
    }
    .bootom{
      .wrapper{
        .logo{
          margin-top: 15px;
        }
        .phone{
          margin-left: 35px;
          margin-top: 12px;
          .phone_img{
            margin-right: 20px;
          }
        }
        .city{
          width: 250px;
          margin-left: -5px;
          ul{
            li{
              select{
                border: 2px solid @colorblack;
              }
            }
          }
        }
        .search{
          margin: 0px;
        }
        .koshik{
          margin-top: -25px;
        }
      }
    }
  }
  .main{
    width: 91%;
    .wrapper{
      width: 90%;
      .block_1{
        height: 280px;
        .note{
          width: 50%;
          img{
            margin-top: 60px;
          }
        }
        .logo_producers{
            margin: 2px auto 20px 40px;
            a{
              margin: 5px 0px;
            }
          }
      }
      .main_menu{
        li{
          padding: 5px 13px;
          a{
            font-size: 10px;
          }
        }
      }
      .block_2{
        .menu{
        float: left;
        width: 45%;
        height: 495px;
        ul{
          li{
            &:first-child{
              padding: 5px;
            };
            a{
              font-size: 12px;
              padding: 0px;
            }
          }
        }
        }
        .elements{
          margin: 0px 9px;
          width: 50%;
          height: 495px;
          .element{
            #all{
              margin-top: 20px;
              &:after{
                margin: 10px 20px;
              };
            }
              width: 40%;
              height: 80px;
            img{
              height: 30px;
            }
          }
        }
        .last{
          margin-left: 9px;
        }
        .advertising{
          button{
            font-size: 12px;
            padding: 5px;
          }
        }
      }
      .block_fuel{
        ul{
          margin: 11px;
          li{
            margin: 0px 0px 20px 15px;
            h4{
              font-size: 13px;
            }
            form{
              width: 130px;
              button{
                img{
                  margin-left: 0px;
                }
              }
              img{
                margin-left: 20px;
              }
            }
          }
        }
      }
    }

  }
  .footer{
    .wrapper{
      .top_menu{
        .contact{
          width: 33%;
          h4{
            font-size: 12px;
          }
          p{
            font-size: 9px;
          }
          .menu_phone{
            li{
              padding: 3px 3px;
              font-size: 8px;
            }
          }
        }
      }
      .down_menu{
        p{
        font-size: 10px;
        }
        .oplata{
          margin-left: 35px;
        }
        .social{
          margin-left: 80px;
        }
      }
    }
  }
}



@media only screen and (max-width : 480px) {
  body{
  width: 100%;
    margin: 0 auto;
  }
  .wrapper{
   width: 90%;
  }
  .header{
    .menu{
      .wrapper{
        ul{
          margin-left: 40px;
        }
        .enter{
          float: left;
          margin-left: 40px;
        }
      }
    }
    .bootom{
      .wrapper{
        .logo{
          margin-top: 15px;
        }
        .phone{
          margin-left: 35px;
          margin-top: 12px;
          .phone_img{
            margin-right: 15px;
          }
        }
        .city{
          width: 205px;
          margin-left: -px;
        }
        .search{
          margin: 0px;
        }
        .koshik{
          margin-top: -25px;
        }
      }
    }
  }
  .main{
    width: 91%;
    .wrapper{
      width: 90%;
      .block_1{
        height: 280px;
        .note{
          width: 50%;
          img{
            margin-top: 60px;
          }
        }
        .logo_producers{
            margin: 2px auto 20px 10px;
            a{
              margin: 20px 10px;
            }
          }
      }
      .main_menu{
        li{
          padding: 5px 30px;
        }
      }
      .block_2{
        .menu{
        float: left;
        width: 45%;
        height: 495px;
        ul{
          li{
            &:first-child{
              padding: 5px;
            };
            a{
              font-size: 16px;
              padding: 0px;
            }
          }
        }
        }
        .elements{
          margin: 0px 9px;
          width: 50%;
          height: 495px;
          .element{
            #all{
              margin-top: 20px;
              &:after{
                margin: 10px 20px;
              };
            }
              width: 37%;
              height: 75px;
            img{
              height: 30px;
            }
          }
        }
        .last{
          margin-left: 9px;
        }
        .advertising{
          button{
            font-size: 12px;
            padding: 5px;
          }
        }
      }
      .block_fuel{
        ul{
          margin: 11px;
          li{
            margin: 0px 0px 20px 15px;
            h4{
              font-size: 13px;
            }
            form{
              width: 130px;
              button{
                img{
                  margin-left: 0px;
                }
              }
              img{
                margin-left: 20px;
              }
            }
          }
        }
      }
    }

  }
  .footer{
    .wrapper{
      .top_menu{
        .contact{
          width: 33%;
          h4{
            font-size: 12px;
          }
          p{
            font-size: 9px;
          }
          .menu_phone{
            li{
              padding: 3px 3px;
              font-size: 8px;
            }
          }
        }
      }
      .down_menu{
        p{
        font-size: 10px;
        }
        .oplata{
          margin-left: 35px;
        }
        .social{
          margin-left: 80px;
        }
      }
    }
  }
}

@media only screen and (max-width : 360px) {
  body{
  width: 100%;
    margin: 0 auto;
  }
  .wrapper{
   width: 90%;
  }
  .header{
    .menu{
      .wrapper{
        ul{
          margin-left: 0px;
          li{
            padding: 5px 5px;
            a{
              font-size: 10px;
            }
          }
        }
        .enter{
          float: left;
          margin-left: 0px;
        }
      }
    }
    .bootom{
      .wrapper{
        .logo{
          margin-top: 15px;
        }
        .phone{
          margin-left: 5px;
          margin-top: 12px;
          .phone_img{
            margin-right: 15px;
          }
        }
        .city{
          width: 205px;
          margin: 0px 0px 10px -5px;
        }
        .search{
          margin: 0px;
        }
        .koshik{
          margin-top: -15px;
          margin-right: 30px;
        }
      }
    }
  }
  .main{
    width: 91%;
    .wrapper{
      width: 90%;
      .block_1{
        height: 280px;
        .note{
          width: 50%;
          img{
            margin-top: 60px;
          }
        }
        .logo_producers{
            margin: 2px auto 20px 10px;
            a{
              margin: 20px 10px;
            }
          }
      }
      .main_menu{
        li{
          padding: 5px 15px;
          a{
            font-size: 10px;
          }
        }
      }
      .block_2{
        .menu{
        float: left;
        width: 54%;
        height: 495px;
        ul{
          li{
            &:first-child{
              padding: 5px;
            };
            a{
              font-size: 14px;
              padding: 0px;
            }
          }
        }
        }
        .elements{
          margin: 0px 9px;
          width: 32%;
          height: 495px;
          .element{
            #all{
              margin-top: 20px;
              &:after{
                margin: 10px 20px;
              };
            }
              width: 90%;
              height: 75px;
            img{
              height: 30px;
            }
          }
        }
        .last{
          margin-left: 9px;
        }
        .advertising{
          width: 54%;
          button{
            font-size: 12px;
            padding: 5px;
            #price{
              font-size: 18px;
            }
            p{
              font-size: 11px;
            }
          }
        }
      }
      .block_fuel{
        ul{
          margin: 8px;
          li{
            margin: 0px 0px 20px 12px;
            p{
              margin: 5px;
            }
            h4{
              font-size: 13px;
            }
            form{
              width: 105px;
              button{
                margin-top: 1px;
                img{
                  margin-left: 0px;
                }
              }
              img{
                margin-left: 5px;
              }
            }
          }
        }
      }
    }

  }
  .footer{
    .wrapper{
      .top_menu{
        .contact{
          margin-top: 15px;
          float: left;
          width: 72%;
          h4{
            font-size: 12px;
          }
          p{
            font-size: 10px;
          }
          .menu_phone{
            li{
              padding: 3px 5px;
              font-size: 10px;
            }
          }
        }
      }
      .down_menu{
        p{
        font-size: 10px;
        }
        .oplata{
          margin-left: 25px;
        }
        .social{
          margin-left: 35px;
          width: 75%;
          a{
          img{
            width: 15%
          }
        }
        }
      }
    }
  }
}

@media only screen and (max-width : 320px) {
  body{
  width: 100%;
    margin: 0 auto;
  }
  .wrapper{
   width: 95%;
  }
  .header{
    .menu{
      .wrapper{
        ul{
          margin-left: 0px;
          li{
            padding: 5px 6px;
            a{
              font-size: 10px;
            }
          }
        }
        .enter{
          padding: 0px;
          float: left;
          margin-left: 0px;
          a{
            font-size: 10px;
          }
        }
      }
    }
    .bootom{
      .wrapper{
        .logo{
          margin-top: 15px;
        }
        .phone{
          margin-left: 10px;
          margin-top: 12px;
          .phone_img{
            margin-right: 10px;
          }
        }
        .city{
          width: 250px;
          margin: 10px 0px;
          ul{
            li{
              select{
                border: 1px solid
              }
            }
          }
        }
        .search{
          margin-left: 5px;
          width: 250px;
          .poshuk{
            width: 200px;
          }
          select{
            width: 200px;
          }
        }
        .koshik{
          margin: -70px 10px auto auto;
        }
      }
    }
  }
  .main{
    width: 91%;
    .wrapper{
      width: 90%;
      .block_1{
        height: 190px;
        .note{
          width: 50%;
          img{
            margin-top: 60px;
          }
        }
        .logo_producers{
          width: 40%;
          margin: 35px auto 10px 10px;
          img{
          margin-bottom: 20px;
          }
            
            a{
              font-size: 10px;
              margin: 0px;
              padding: 5px 1px;
              width: 150px;
            }
          }
      }
      .main_menu{
        li{
          padding: 5px 12px;
          a{
            font-size: 10px;
          }
        }
      }
      .block_2{
        .menu{
        float: left;
        width: 60%;
        height: 495px;
        ul{
          li{
            img{
              display: none;
            }
            &:first-child{
              padding: 5px;
            };
            a{
              font-size: 10px;
              padding: 5px;
            }
          }
        }
        }
        .elements{
          margin: 0px 9px;
          width: 33%;
          height: 495px;
          .element{
            width: 90%;
            height: 75px;
            #all{
              margin-top: 20px;
              &:after{
                margin: 10px 20px;
              };
            }
              
            img{
              height: 30px;
            }
          }
        }
        .last{
          margin-left: 9px;
        }
        .advertising{
          width: 60%;
          margin-top: -35px;
          #price{
            font-size: 25px;
          }
          p{
            font-size: 14px;
          }
          button{
            font-size: 12px;
            padding: 5px;
            margin: 26px auto;
          }
        }
      }
      .block_fuel{
        h2{
          font-size: 15px;
          margin-top: 5px;
        }
        ul{
          margin: 8px;
          li{
            margin: 0px 0px 10px 10px;
            height: 200px;
            h4{
              font-size: 13px;
            }
            p{
              margin: 0px;
              font-size: 10px;
            }
            form{
              width: 95px;
              input{
                width: 50px;
                font-size: 10px;
              }
              button{
                margin-top: 2px;
                img{
                  margin-left: 0px;
                  width: 50%;
                }
              }
              img{
                margin-left: 13px;
              }
            }
          }
        }
      }
    }

  }
  .footer{
    .wrapper{
      .top_menu{
        .contact{
          width: 90%;
          float: left;
          margin-top: 15px;
          h4{
            font-size: 14px;
          }
          p{
            font-size: 12px;
          }
          .menu_phone{
            li{
              padding: 3px 10px;
              font-size: 12px;
            }
          }
        }
      }
      .down_menu{
        p{
        font-size: 8px;
        }
        .oplata{
          float: right;
          width: 50%;
          margin-left: 5px;
          a{
            img{
                width: 23%;

            }
          }
        }
        .social{
          margin-left: 35px;
          width: 75%;
          a{
          img{
            width: 15%
          }
        }
        }
      }
    }
  }
}